* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 100%);
}

.container {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 12%);
  border-radius: 10px;
}
img {
  margin-left: 95px;
  width: 111px;
  height: 106px;
  padding: 10px;
  border-radius: 50%;
}
.name {
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
  font-size: 22px;
}
.city {
  margin: 4px;
  color: hsl(75, 94%, 57%);
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.profesion {
  text-align: center;
  margin-bottom: 18px;
}

button {
  border: none;
  padding: 10px;
  border-radius: 14px;
  margin: 6px;
  background-color: hsl(0, 0%, 20%);
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

button:hover {
  background-color: hsl(75, 94%, 57%);
}
